html, body {
    font-family: "Lato", "Arial", sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}
/*Buttons------------------------------------------------------------------*/
button {
    display: block;
    background-color: rgba(255,255,255,0);
    height: 2em;/*em means font size, thus 3em means three times the font size*/
    color: bisque;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
    font-family: inherit;
    text-align: center;
    font-size: 90%;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
}
/*Vertically centering data. From https://stackoverflow.com/questions/396145/how-to-vertically-center-a-div-for-all-browsers*/
.outer {
    display: table;
    position: absolute;
    top: 0;
    left: inherit;
    height: 100%;
    background-color: none;
    width: inherit;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}
/*
.inner {

  margin-left: auto;
  margin-right: auto;
  width: 400px;
  whatever width you want
}*/
/*More form specific stuff-------------------------------------------------------------------------*/
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: bisque;
  opacity: 0.4; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: bisque;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: bisque;
}
.ls-toggle{/*Text align must be on the containing div*/
    text-align: center;
}
.ls-toggle a{
    font-size: 65%;
    font-family: sans-serif;
    text-decoration: none;
    color: bisque;
}