
html, body {
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.2), rgba(0,0,0,0.8)), url(../images/login-bg.jpg.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 30%;
    display: table;
}
/*Login & Register Styles-------------------------------------*/
.loginContainer {
    top:auto;
    bottom: auto;
    padding-left: 10%;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-right: 10%;
    color: bisque;
    line-height: 120%;
    border-right: 1px solid bisque;
}
.loginContainer h2{
    font-size: 120%;
    text-align: center;
}
.loginContainer input{
    display: block;
    background-color: rgba(255,255,255,0);
    border: 0px;
    border-bottom: 1px solid bisque;
    font-family: inherit;
    color: white;
    width: 100%;
    line-height: 150%;
}
.loginContainer input:focus{
    outline: none;
    box-shadow: 0 0 10px bisque;
}
.loginContainer label{
    font-size: 75%;
    padding-bottom: 20px;
}
#registerForm{
    display: none;
}
#loginForm{
    display: none;
}
/*More form specific stuff-------------------------------------------------------------------------*/
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: bisque;
  opacity: 0.4; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: bisque;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: bisque;
}
.ls-toggle{/*Text align must be on the containing div*/
    text-align: center;
}
.ls-toggle a{
    font-size: 65%;
    font-family: sans-serif;
    text-decoration: none;
    color: bisque;
}
/*Ad container----------------------------------------------------------------------------------------------------------------*/
.adContainer{
    width: inherit;
    line-height: 155%;
}
.adContainer h1{
    line-height: normal;
    font-size: 300%;
    color: chartreuse;
}
.adContainer h2{
    color:aquamarine;
    margin: 35px 0;
}
.adContainer ul{
    color: #00ff80;
    list-style-image: url(../images/icons/check_icon_00ff80.png);
}
.adContainer li{
    padding: 5px 0;
}

/*Footer------------------------------------------------------------------------------------------------------------------------*/

footer{
    position: fixed;
    bottom: 0;
    right:0;
    font-size: 60%;
    font-weight: 300;
}
footer a{
    color: bisque;
}