body {
}
/*Whole bottom bar------------------------------------------------------------------------------------------------------------*/
.nowPlayingBarContainer{
    width: 100%;
    background-color: darkslategray;
    bottom: 0;
    position: fixed;
    min-width: 600px;
}
.nowPlayingBar{
    display: flex; /*Flexible attribute, makes it change able to different sizes*/
    height: 90px;
    padding: 16px;
    box-sizing: border-box;/*Make it 90px including 16px padding*/
}
.nowPlayingLeft, .nowPlayingRight{
    width: 30%;
    min-width:200px;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    
}
.nowPlayingRight{
    align-items: right;
}
.nowPlayingCenter{
    width: 40%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
}
.nowPlayingBar .content{
    width: 100%;
    height: 57px;
}
/*Player bar buttons---------------------------------------------------------------------------------------------------------------------*/
.playerControls .buttons {/*Wrapper class for all buttons*/
    margin: 0 auto;
    display: table;
}
.controlButton {/*For one specific button*/
    border: none;
    vertical-align: middle;
    transition-duration: 0.3s;
    display: inline-block;
}
.controlButton:hover{
    transform: scale(1.1);
}
.controlButton img {/*Images contained in the controlButton*/
    width: 20px;
    height: 20px;
}
.controlButton.play img, .controlButton.pause img{/*Makes the pause and play buttons larger*/
    width: 32px;
    height: 32px;
}
/*Playback Bar styles--------------------------------------------------------------------------------------------------------------------**/
.playbackBar{
    display: flex; /*Makes everything display on one line*/
}
.progressTime {
    color: bisque;
    font-size: 65%;
    text-align: center;
    min-width: 40px;
}
.progressBar{
     
    display: inline-flex;
    width: 100%;
    cursor: pointer;
    height: 12px;
}

.progressBarBackground {
    background-color: #404040;
    height: 4px;
    width: 100%;
    border-radius: 2px;
}
.progress {
    background-color: bisque;
    height: 4px;
    width: 0%;
    border-radius: 2px;
}
.playbackBar .progressBar{
    margin-top: 3px;
}
/*Album Art Stuff, left side---------------------------------------------------------------------------------------------------------------*/
.albumArt {
    height: 100%;
    width: auto;
    max-width: 55px;
    margin-right: 15px;
    float: left;
    background-size: cover;
}
.trackInfo {
    color: bisque;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: table;
    margin: 6px 0;
}
.trackInfo .trackName, .trackInfo .trackArtist{
    display: inline-block;
    width: 100%;
}
.trackInfo .trackArtist {
    font-size: 60%;
}
